<!DOCTYPE html>
 <html lang="en">
    <head>
        <title>You are a idiot!</title>
    </head>
    <style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
    <body>
    <div class="content">
   <h1>you have downloaded the silly creature malware</h1>
        <p>the harassment will continue until you find a way to remove the silly creature from your device</p>
        <iframe width="500" height="600" src="https://www.youtube.com/embed/CVBGiGENbXA" title="This is, the silly creature" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
    </body>
 </html>
